@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  @apply m-0 p-0 box-border outline-none;
}

html {
  @apply w-screen h-screen leading-none;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 27px;
}

body {
  @apply w-screen h-screen flex flex-col justify-center items-center text-base overflow-x-hidden;
  @apply overflow-hidden;
}

#root {
  @apply w-screen h-screen flex flex-col justify-center items-center bg-body-light-200 dark:bg-body-dark;
}

ul {
  @apply list-none;
}

input,
select {
  @apply p-0 leading-none m-0 focus:outline-none;
}

.defaultSpan{
  color: #F9F058;
  text-shadow: rgb(63, 24, 2) 3px 0px 0px, rgb(63, 24, 2) 2.83487px 0.981584px 0px, rgb(63, 24, 2) 2.35766px 1.85511px 0px, rgb(63, 24, 2) 1.62091px 2.52441px 0px, rgb(63, 24, 2) 0.705713px 2.91581px 0px, rgb(63, 24, 2) -0.287171px 2.98622px 0px, rgb(63, 24, 2) -1.24844px 2.72789px 0px, rgb(63, 24, 2) -2.07227px 2.16926px 0px, rgb(63, 24, 2) -2.66798px 1.37182px 0px, rgb(63, 24, 2) -2.96998px 0.42336px 0px, rgb(63, 24, 2) -2.94502px -0.571704px 0px, rgb(63, 24, 2) -2.59586px -1.50383px 0px, rgb(63, 24, 2) -1.96093px -2.27041px 0px, rgb(63, 24, 2) -1.11013px -2.78704px 0px, rgb(63, 24, 2) -0.137119px -2.99686px 0px, rgb(63, 24, 2) 0.850987px -2.87677px 0px, rgb(63, 24, 2) 1.74541px -2.43999px 0px, rgb(63, 24, 2) 2.44769px -1.73459px 0px, rgb(63, 24, 2) 2.88051px -0.838247px 0px 
}